<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/a"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.example.bebanggis.ActivityAbout"
            android:exported="true"/>

        <activity
            android:name="com.bacaceria.bebanggis.Result"
            android:exported="true" />

        <activity
            android:name="com.bacaceria.bebanggis.Quiz"
            android:exported="true" />

        <activity
            android:name="com.bacaceria.bebanggis.GamesColor"
            android:exported="true" />

        <activity
            android:name="com.bacaceria.bebanggis.GamesQuiz"
            android:exported="true" />

        <activity
            android:name="com.bacaceria.bebanggis.LearnColor"
            android:exported="false" />

        <activity
            android:name="com.bacaceria.bebanggis.LearnAlfabeth"
            android:exported="true" />

        <activity
            android:name="com.bacaceria.bebanggis.HomeActivity"
            android:exported="true" />

        <activity
            android:name="com.bacaceria.bebanggis.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
